<h2>Buy Credits</h2>

<%= link_to "Buy 5000 Credits", show_credits_path(5000), method: :get %>
<br>
<%= link_to "Buy 10000 Credits", show_credits_path(10000), method: :get %>
<br>
<%= link_to "Buy 20000 Credits", show_credits_path(20000), method: :get %>
<br>
<%= link_to "Buy 50000 Credits", show_credits_path(50000), method: :get %>
<br>