<h2>About</h2>

<p><i>The Hermetic Exchange is a two way maretplace for the intrepid interdimensional wizard wishing to buy and/or sell magical wares and test their power against the infinite rifts.</i></p>

<p>Create an account and join the fun in this small game about finding/buying/selling virtual magical items.</p>
<p>Once you sign up, take a look at your inventory and equip your items to increase your power level!</p>
<p>Explore the rift, claim your daily reward, (maybe equip that too), and try your luck with your daily rifts</p>
<p>Visit your inventory and list your items on the market, if someone buys them you'll gaine credits!</p>
<p>Visit the Exchange to see what premium items are for sale, and search for user listed items in the search bar!</p>
<p>Visit the user search page to look for other users by name or email address!</p>
<p>Click on Buy Credits and purchase virtual money with real money!</p>

<%= link_to "Back", root_path %>