<div class="title">
    <h2> View all item types</h2>
</div>

<div class="type-body">
    <div class= "inv-dash-cont">
        <div class="parent-cont">
            <% @item_types.each do |type| %>
                <div class="item-container">
                    <% if type.icon.attached? %>
                    <%= cl_image_tag(type.icon.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
                    <% end %>
                    <%= type.item_type.titleize %>
                    <button><%= link_to "Delete", items_delete_variant_path(type), method: :delete, data: {confirm: "Are you sure?" } %></button>
                </div>
            <% end %>
        </div>
    </div>
</div>