// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$grey-trans: #3333337a;
$dark-blue: #094695;
$ruby-red: #bd3131;
$light-blue: #93CEF1;
$white: #FFFFFF;

@font-face {
    font-family: 'depixelklein';
    src: url(asset-path('depixelklein-webfont.ttf'));
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'depixelklein';
    color: white;
    margin: 0;
    padding: 0;
    // font-size: 
    // background-color: transparent ;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1, h2 {
        font-size: 1.3em;
    }

    .dash-body{

        flex-direction: column;
    }

    .dash-cont{
        flex-basis:100%; 
    }

    .nav-link, .nav-signed{
        font-size: 0.7em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 750px) {
    .dash-body{

        flex-direction: column;
    }

    .dash-cont{
        flex-basis:100%; 
    }

    h1, h2 {
        font-size: 1.6em;
    }

    // .nav{
    //     font-size: 0.7em;
    // }
    .nav-link, .nav-signed{
        font-size: 0.8em;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 751px) {
    .dash-body{
        // border: 1px solid ;
        // flex-direction: row;
    }

    .dash-cont{
        // flex-basis:33.333%; 
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    // ...
}


input{
    color: black;
}
button{
    color: black;
    a{
        color: black;
    }
}

.nav{
    display: flex;
    justify-content: flex-start;
}

.nav-cont{
    display: flex;
    justify-content: space-between;
}

.nav-signed{
    display: flex;
    justify-content: space-around;
}

.title{
    display: flex;
    justify-content: center;
}

.dash-body{
    // border: 1px solid ;
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.parent-cont{
    // border: 1px solid ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // grid-template-rows: repeat(auto-fill, 100px);
    grid-auto-flow: row;
    width:100%;
    // flex-wrap: wrap;
    // justify-content: space-between;

    
}

img{
    border-radius: 15px;
}

.dash-cont{
    // border: 1px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid white ;
    flex-basis:37.5%; 



    padding: 5px;
    // margin: 5px;

    // div{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }

    .item-container{
        border: 2px solid $white;
        background-color: $grey-trans;
        // align-items: center;
        padding: 10px;
        margin: 5px;
        flex-basis:25%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        // height: 100px;
    
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
        }
    }
}

.main-dash-cont{
    border: 2px solid $white;
    background-color: $grey-trans;
    // align-items: center;
    padding: 10px;
    margin: 5px;
    // padding: 5px;
    flex-basis:25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    border-radius: 15px;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.grand-cont{
    display: flex;
    justify-content: space-between;
}

// .parent-cont{
//     display: flex;
//     justify-content: space-between;
// }



.item-container{
    // border: 1px solid ;
}

#background{ 
    background-image: url(asset-path('space_pixel.png'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    opacity: 100%;
    position: fixed;
    width: 100%;
    height: 120vh;
    margin: 0;
    z-index: -2;
    object-fit: fill;
}

#background-rot{ 
    background-image: url(asset-path('noise.png'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    opacity: 25%;
    // left: 100px;
    top: -200px;
    position: fixed;
    width: 1500px;
    height: 1500px;
    margin: 0;
    z-index: -1;
    object-fit: fill;

    animation: shimmy 40s infinite linear;
}
#background-back{ 
    background-image: url(asset-path('noise.png'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    opacity: 25%;
    // left: 100px;
    top: -200px;
    position: fixed;
    width: 1500px;
    height: 1500px;
    margin: 0;
    z-index: -1;
    object-fit: fill;

    animation: shimmy_2 30s infinite linear;
}

@keyframes shimmy_2 {
    0% {
      transform: translate(100px, 0) rotate(0deg);
      opacity: 25%;
    }
    50% {
      transform: translate(-100px, 0) rotate(5deg);
      opacity: 55%;
    }
    100% {
      transform: translate(100px, 0) rotate(0deg);
      opacity: 25%;
    }
}
@keyframes shimmy {
    0% {
      transform: translate(-100px, 0) rotate(0deg);
      opacity: 55%;
    }
    50% {
      transform: translate(100px, 0) rotate(5deg);
      opacity: 25%;
    }
    100% {
      transform: translate(-100px, 0) rotate(0deg);
      opacity: 55%;
    }
}

body{
    width: 100%;
    height: auto;
}

a:hover{
    color: $ruby-red
}